#documentation
mkdocs
mkdocs-material
mkdocs-blogging-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-multirepo-plugin
mkdocs-rss-plugin
pymdown-extensions
mkdocs-cinder

#pypi deployments
poetry

#testing
mypy
pre-commit
